* {
    transition: all 0.3s;
}

body {
    padding: 0;
    margin: 0;
    color: #2f2f2f;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #2f2f2f;
}

table {
    width: 100%;
}

.pageContainer {
    padding: 0 10px;
}

/* Header */
header {
    background-color: #2f2f2f;
}

header h2 i {
    color: #f1cd20;
    margin-right: 10px;
}

header h2 a {
    color: #f1cd20;
}

.headerMenu {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.headerMenu__item {
    margin-left: 20px;
}

.headerMenu__item a {
    color: white;
}

/* Footer */
footer {
    background-color: #2f2f2f;
    color: white;
}

.footerMenu {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.footerMenu__item {
    margin-left: 20px;
}

.footerMenu__item a {
    color: white;
}

form input,
form button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 0 0 10px 0;
    border-radius: 0;
    border: 1px solid #f1cd20;
    background-color: white;
    box-sizing: border-box;
}

form button:hover {
    background-color: #f1cd20;
    cursor: pointer;
}

/* Custom classes */
.headerText {
    background-color: #2f2f2f;
    width: max-content;
}

.headerText h1,
.headerText h2 {
    color: #f1cd20;
    padding: 5px;
}