$color_blue--dark: #0c0187;
$color_blue--light: #333399;
$color_orange: #ff6600;
$color_orange--light: lighten($color_orange, 10%);
$color_grey--dark: #333;
$color_grey--light: #fafafa;

* {
  transition: all 0.3s;
}
body {
  min-width: 320px;
  font-size: 10px;
  font-family: 'Ubuntu', sans-serif;
  color: $color_grey--dark;
  height: 3000px;//
}
a {
  color: $color_grey--dark;
  &:hover {
    color: $color_grey--dark;
    text-decoration: none;
  }
}

.header {
  background-color: #fff;
  padding: 15px 0px;
  &__logo {
    font-size: 25px;
    color: $color_blue--dark;
    &:hover {
      color: $color_blue--dark;
    }
  }

  &__mobile-menu-btn {
    &:hover {
      outline: none;
    }
  }

  &__links {
    margin-right: 20px;
  }
  &__link {
    margin: 0 5px;
    &::after {
      content: '';
      display: block;
      width: 100%;
      background-color: $color_orange;
      height: 2px;
      transform: scale(0);
      transition: all 0.3s;
    }
    &:hover::after {
      transform: scale(1);
    }
    @media (max-width: 991px) {
      &::after {
        display: none;
      }
    }
  }
  &__link-text {
    font-size: 15px;
    color: $color_grey--dark;
    &::after {
      vertical-align: middle;
    }
  }

  &__dropdown {
    background-color: $color_grey--light;
    border: 1px solid $color_grey--dark;
    border-radius: 0px;
  }
  &__dropdown-link {
    font-size: 15px;
    &:hover {
      background-color: $color_orange--light;
    }
  }

  &__search-input {
    border-radius: 0px;
    border: 1px solid $color_grey--dark;
    outline-color: white;
    padding: 10px;
    font-size: 15px;
    max-width: 150px;
  }
  &__search-btn {
    border: 1px solid $color_grey--dark;
    border-radius: 0px;
    margin-right: 20px;
    padding: 9px;
    line-height: 15px;
    transform: translateX(-1px);
    @media (max-width: 991px) {
      padding: 9.5px;
    }
  }
  &__search-img {
    height: 15px;
  }

  &__lang-change {
    font-size: 15px;
    text-transform: uppercase;
    padding: 6px 0px 6px 20px;
    border-left: 1px solid $color_grey--dark;
  }
}

main {
  background: url("../img/1.png") no-repeat;
  background-size: 100%;
}
.main-section {
  padding: 100px 0;
  &__header {
    color: $color_grey--dark;
    font-weight: bold;
    font-size: 25px;
    text-transform: uppercase;
    span {
      padding: 5px 10px 5px 10px;
      background-color: #fff;
    }
  }
  &__subheader {
    display: inline;
    color: $color_grey--dark;
    text-transform: uppercase;
    font-size: 15px;
    padding: 3px;
    margin-top: 10px;
    background-color: #fff;
  }
}
