body {
  font-family: 'Work Sans', sans-serif; }

ul, li {
  display: block;
  margin: 0;
  padding: 0; }

.menu-bar {
  padding: 60px 0px; }

.menu__item {
  margin-left: 60px; }
.menu__link {
  color: white;
  font-size: 15px; }
  .menu__link:hover {
    color: white;
    text-decoration: none; }

.header {
  background: url("../img/header-bg.png");
  background-size: cover;
  color: white; }
  .header__content {
    width: 550px;
    margin: auto; }
  .header__main {
    text-align: center;
    margin-top: 60px; }
  .header__text-h {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 20px; }
  .header__text-p {
    font-size: 15px;
    margin-bottom: 40px; }
  .header__btn {
    margin: 0 10px;
    font-size: 14px;
    border: 1px solid white;
    border-radius: 7px;
    padding: 10px 40px;
    color: white;
    font-weight: bold;
    transition: 0.3s; }
    .header__btn:hover {
      color: #233148;
      background-color: white;
      transform: translateY(-5px); }
    .header__btn--active {
      color: #233148;
      background-color: white; }
  .header__smartphone-img {
    margin-top: 70px; }
  .header__bg-cloud {
    position: absolute;
    width: 100%;
    top: 800px;
    left: 0; }

.advantages {
  background-color: #fafafc;
  padding: 100px 0; }
  .advantages__smartphone-img {
    margin-top: 30px; }
  .advantages__block {
    text-align: center;
    background-color: white;
    padding: 30px 40px;
    margin: 30px;
    border-radius: 7px;
    transition: 0.3s; }
    .advantages__block:hover {
      box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);
      transform: translateY(-5px); }
  .advantages__block-img {
    height: 60px;
    margin: 30px 0; }
  .advantages__block-header {
    margin-bottom: 20px;
    font-size: 14px;
    color: #233148;
    font-weight: bold; }
  .advantages__block-text {
    font-size: 14px;
    color: #6a6d89; }

.features {
  padding: 100px 0; }
  .features__content-left {
    text-align: right;
    padding-right: 100px; }
  .features__header {
    font-size: 30px;
    font-weight: bold;
    color: #233148;
    margin-bottom: 50px; }
  .features__text {
    font-size: 14px;
    color: #6a6d89;
    margin-bottom: 50px; }
  .features__btn {
    background-color: #33d2fd;
    color: white;
    border-radius: 7px;
    font-size: 15px;
    padding: 15px 40px;
    font-weight: bold;
    transition: 0.3s; }
    .features__btn:hover {
      color: white;
      transform: translateY(-5px);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); }
  .features__block {
    color: #233148;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    user-select: none;
    transition: 0.3s; }
    .features__block--active {
      background-color: #33d2fd;
      box-shadow: none;
      color: white; }
  .features__block-img {
    display: inline-block;
    margin-right: 20px;
    width: 30px; }
  .features__block-header {
    display: inline-block;
    margin: 0; }
  .features__block-text {
    margin-top: 20px;
    display: none; }

/*# sourceMappingURL=style.css.map */
